---
import { Card, CardHeader, CardTitle, CardContent } from '../ui/card';
import TypographyP from '../Typographie/TypographieP.astro';
import SkillsCard from './SkillsCard.astro';

interface Props {
  description_details: string;
  skills: string[];
}

const { description_details, skills } = Astro.props;
---

<Card className="w-7/8 md:w-1/2 py-4">
  <CardHeader>
    <CardTitle className="text-xl font-bold">Le projet</CardTitle>
  </CardHeader>
  <CardContent className="flex flex-col gap-3">
    <div>
      <TypographyP>{description_details}</TypographyP>
    </div>
    <h3 class="font-bold">Compétences</h3>
    <div class="flex flex-wrap gap-2">
      {skills.map(skill => (
        <SkillsCard skill={skill} />
      ))}
    </div>
  </CardContent>
</Card>