---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Button } from '../ui/button';
import type { Lang } from '@/i18n/utils';
import { getTranslations } from '@/i18n/utils';

interface Props {
  url: string;
  title: string;
  image: ImageMetadata;
  lang?: Lang;
}

const { url, title, image, lang = 'fr' } = Astro.props;
const t = getTranslations(lang);
---

<div class="w-7/8 md:w-1/2 flex flex-col items-center gap-5">
  <a
    href={url}
    rel="noopener noreferrer"
    class="hover:grayscale-100 transition-all duration-300 inline-block"
  >
    <Image
      src={image}
      alt={title}
      loading="eager"
      fetchpriority="high"
      class="rounded-lg"
    />
  </a>
  <Button client:load>
    <a href={url} target="_blank" rel="noopener noreferrer">
      {t['project.viewProject']}
    </a>
  </Button>
</div>
