---
interface Props {
  technologies: string[];
}

const { technologies } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {technologies.map(technology => (
    <img src={technology} alt="" class="w-16 h-auto" />
  ))}
</div>
