---
import { GitHubIcon } from "@/components/Icon/GitHubIcon";
import { LinkedinIcon } from "@/components/Icon/LinkedinIcon";
import type { Lang } from '@/i18n/utils';
import { getTranslations } from '@/i18n/utils';

interface Props {
  lang?: Lang;
}

const { lang = 'fr' } = Astro.props;
const t = getTranslations(lang);
---

<footer class="bg-background text-foreground">
  <div class="container mx-auto px-4 py-8 flex items-center justify-center gap-2 flex-col md:flex-row">
    <p class="text-center text-sm text-muted-foreground">
      &copy; {new Date().getFullYear()} Lucas Berthet. {t['footer.rights']}
    </p>
    <div class="flex gap-2">
        <GitHubIcon classNames="w-10 h-10" />
        <LinkedinIcon classNames="w-10 h-10"/>
    </div>
  </div>
</footer>
