---
import Footer from './Footer.astro';
import Header from './Header.astro';
import { ThemeProvider } from '@/components/ThemeProvider';
import '../styles/global.css';
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Lucas Berthet</title>
	</head>
	<body>
		<ThemeProvider client:load>
			<slot />
			<Footer />
		</ThemeProvider>
	</body>
</html>


